<div id="presentation_container" class="pc_container">
    <div class="pc_item">
        <div class="desc" style="opacity:0.0; filter:alpha(opacity=0)">
            <h1>First news</h1>
        </div>
        <a href=""><img src=""></a>
    </div>
</div>
<script>
    presentationCycle.init();
</script>
