<% if object.errors.any? %>
    <div style="color: red">
        <h4><%= t('forms.messages.errors', count: object.errors.count) %></h4>
        <ul>
            <% object.errors.each do |error| %>
                <li><%= error.full_message %></li>
            <% end %>
        </ul>
    </div>
<% end %>