body {
	background-image: url(background.png);
	background-repeat: repeat;
	margin: 0px;
	padding: 0px;
	overflow-y: scroll;
}

#wrapper {
	width: 800px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#leftSide {
	float: left;
	width: 650px;	
}

#rightSide {
	float: left;
	width: 150px;
}

#navbar {
	float: left;
	width: 150px;
	text-align: center;
}

#footer {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #F00;
	font-weight: bold;
	clear: both;
}

#footer a {
	color: #F00;
}

#footer a:hover {
	color: rgb(0, 0, 0);
}

#content_main {
	width: 630px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12pt;
}

#content_header {
	border-bottom-style: dotted;
	border-width: thin;
	border-color: #FFF;
}

#toTop {
    width: 100px;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    text-decoration: none;
}